{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.nom }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.prenom }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.adresse }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.ville }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.codepostal }}</p>
    </div>
</div>