{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'category.list' | trans }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                            <td>{{ category.nom }}</td>
                            <td>{{ category.trad }}</td>
                            <td>{{ category.description }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">{{ 'category.create' | trans }}</a>
        </li>
    </ul>
            </div>
        </div>
{% endblock %}
