<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{{ asset("fonts/icomoon/style.css") }}">
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/magnific-popup.css") }}">
    <link rel="stylesheet" href="{{ asset("css/jquery-ui.css") }}">
    <link rel="stylesheet" href="{{ asset("css/owl.carousel.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/owl.theme.default.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/aos.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
</head>
<body>
{% block header %}
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="{{ path('product_search') }}" method="POST" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" placeholder="{{ 'home.search' | trans | capitalize }}" name="terme" autocomplete="off">
                        </form>
                    </div>
                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/" class="js-logo-clone">Shoppers</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul>
                                {% if app.user %}
                                <li>
                                    <a href="#">{{ app.user.nom | capitalize }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}"
                                        title="{{ 'home.logout' | trans }}">
                                        <span class="icon icon-person text-danger"></span>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}"
                                       title="{{ 'home.login' | trans }}">
                                        <span class="icon icon-person"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}"
                                       title="{{ 'home.register' | trans }}"
                                        ><span class="icon icon-user-plus"></span></a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('cart') }}" class="site-cart"
                                       title="{{ 'home.urcart' | trans }}">
                                        <span class="icon icon-shopping_cart"></span>
                                        <!-- taille du panier -->
                                        <span class="count">
                                            {% if panier_taille is defined %}
                                                {{ panier_taille }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    {% set routeParams = app.request.get('_route_params') %}
                                    {% if routeParams['_locale'] == 'fr' %}
                                        {% set routeParams = routeParams|merge({'_locale': 'en'}) %}
                                        {% set lng = 'en' %}
                                    {% else %}
                                        {%set routeParams = routeParams|merge({'_locale': 'fr'}) %}
                                        {% set lng = 'fr' %}
                                    {% endif %}
                                    <a href="{{ path(app.request.get('_route'), routeParams) }}" title="{{ 'home.lang' | trans }}">{{ lng }}</a>
                                    <!-- <span class="icon icon-map"></span> -->
                                </li>
                                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <!-- <li class="has-children"> -->
                    <li>
                        <a href="{{ path('accueil') }}">{{ 'home.home' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('about') }}">{{ 'home.about' | trans }}</a>
                    </li>
                    <li><a href="{{ path('boutique.accueil') }}">{{ 'home.shop' | trans }}</a></li>
                    <!--
                    <li><a href="#">Catalogue</a></li>
                    <li><a href="#">Arrivages</a></li>
                    -->
                    <li><a href="{{ path("contact") }}">{{ 'home.contact' | trans }}</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}


        {% block body %}
            {#**************************************#}
        {% endblock %}


<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Sell online</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Shopping cart</a></li>
                            <li><a href="#">Store builder</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Mobile commerce</a></li>
                            <li><a href="#">Dropshipping</a></li>
                            <li><a href="#">Website development</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Point of sale</a></li>
                            <li><a href="#">Hardware</a></li>
                            <li><a href="#">Software</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Administration</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('category_index') }}">Categories</a></li>
                            <li><a href="{{ path('product_index') }}">Products</a></li>
                            <li>{{ app.user }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h3 class="footer-heading mb-4">Promo</h3>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                        <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                        <li class="email">emailaddress@domain.com</li>
                    </ul>
                </div>
                <div class="block-7">
                    <form action="#" method="post">
                        <label for="email_subscribe" class="footer-heading">Subscribe</label>
                        <div class="form-group">
                            <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                            <input type="submit" class="btn btn-sm btn-primary" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
    <script src="{{ asset("js/jquery-3.3.1.min.js") }}"></script>
    <script src="{{ asset("js/jquery-ui.js") }}"></script>
    <script src="{{ asset("js/popper.min.js") }}"></script>
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("js/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("js/jquery.magnific-popup.min.js") }}"></script>
    <script src="{{ asset("js/aos.js") }}"></script>
    <script src="{{ asset("js/main.js") }}"></script>
    {% block js %} {% endblock %}
    <script>
        var $collectionHolder;
        // setup an "add a tag" link
        var $addImageButton = $('<button type="button" class="add_img_link btn btn-success">Ajouter une image</button>');
        var $newLinkLi = $('<li></li>').append($addImageButton);
        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.images');
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addImageButton.on('click', function(e) {
                // add a new tag form (see next code block)
                $addImageForm($collectionHolder, $newLinkLi);
            });
        });
        </script>

</body>
</html>