{% extends('layout.html.twig') %}

{% block body %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="{{ path('accueil') }}">Accueil</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Panier</strong></div>
        </div>
    </div>
</div>

    {# dump() #}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            {% if ps %}
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">{{ 'cart.image' | trans }}</th>
                            <th class="product-name">{{ 'cart.product' | trans }}</th>
                            <th class="product-price">{{ 'cart.price' | trans }}</th>
                            <th class="product-quantity">{{ 'cart.qty' | trans }}</th>
                            <th class="product-total">{{ 'cart.total' | trans }}</th>
                            <th class="product-remove">{{ 'cart.rem' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for p in ps %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="/images/products/{{ ( p['p'].photoPrincipale.imageName ) }}" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">{{ p['p'].nom }}</h2>
                                    </td>
                                    <td>{{ p['p'].getPrix() }}</td>
                                    <td>

                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <!--
                                            <div class="input-group-prepend">
                                                <form method="POST" action=" path('product_addtocart',{'pid': p['p'].id } ) }}">

                                                    <input type="hidden" name="quantite" value=" p['qte']-1 }}" />

                                                    <button type="submit" class="btn btn-outline-primary">-</button>
                                                </form>
                                            </div>
                                        -->
                                            <input type="text" class="form-control text-center"
                                                   name="quantite" disabled="disabled"
                                                   value="{{ p['qte'] }}" placeholder=""
                                                   aria-label="Example text with button addon" aria-describedby="button-addon1"
                                                    />
                                            <!--
                                            <div class="input-group-append">
                                                <form method="POST" action=" path('product_addtocart',{'pid': p['p'].id } ) }}">
                                                    <input type="hidden" name="quantite" value="  p['qte']+1 }}" />
                                                    <input type="submit" name="add" value="+" class="btn btn-outline-primary"/>
                                                </form>
                                            </div>
                                            -->
                                        </div>
                                    </td>
                                    <td>{{ p['prix'] }}</td>
                                    <td><a href="{{ path('product_delfromcart',{'pid': p['p'].id}) }}"
                                           class="btn btn-primary btn-sm">X</a>
                                        </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <a href="{{ path('validate_cart', {'id':2}) }}"
                                       class="buy-now btn btn-sm btn-primary float-right">
                                        {{ 'cart.validate' | trans }}
                                    </a>

                                    <a href="{{ path('reset_cart') }}"
                                        class="buy-now btn btn-sm btn-danger float-right">
                                        {{ 'cart.empty' | trans }}
                                    </a>


                                    <a href="{{ path('recalc') }}"
                                       class="buy-now btn btn-sm btn-warning float-right">
                                        {{ 'cart.updateP' | trans }}
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {%  else %}
                <div clas="col-md-12 text-center">
                    <p>{{ 'cart.isEmpty' | trans }}</p>
                    <br/><br/>
                    <h4>
                        <a href="{{ path('boutique.accueil') }}">{{ 'cart.back2shop' | trans }}</a>
                    </h4>
                </div>
            {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
