{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'product.creation' | trans }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

        <ul class="images"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        </ul>
            <input type="submit" value="Create" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('product_index') }}">{{ 'crud.back' | trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
