{% extends('layout.html.twig') %}

{% block body %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="{{ path('accueil') }}">Accueil</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Récapitulatif de la Commande</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12" >
                <h3 class="text-center">Commande N° {{ cmd.id }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
                <h3 class="text-center text-success">
                    Votre commande a été validé !
                    <span class="oi oi-card"></span>
                    <span class="oi oi-check"></span>
                </h3>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 offset-md-9" >
                {{ user.nom }}, {{ user.prenom }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9" >
                {{ user.adresse }}, {{ user.ville }}, {{ user.codePostal }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-0">
                {% for label, messages in app.flashes(['warning', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row mb-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Prix Unitaire</th>
                        <th>Quantité</th>
                        <th>Prix Total</th>
                    </tr>
                </thead>
                {% for minitable in tableau %}
                    <tr>
                        {#
                        <td>
                            {{ dump(minitable) }}
                        </td>
                        #}
                        <td>{{ minitable['p'].getNom() }}</td>
                        <td>{{ minitable['p'].getPrix() }}</td>
                        <td>{{ minitable['pc'].getQuantite() }}</td>
                        <td>{{ minitable['pc'].getPrix() }}</td>

                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ prix }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12" >
                <h3 class="text-center">
                    <a href="{{ path('boutique.accueil') }}" class="btn btn-lg btn-success">
                        Retour à l'accueil
                    </a>
                </h3>
            </div>
        </div>

    </div>
</div>




{% endblock %}
