{% extends('layout.html.twig')  %}

{% block body %}

    {#
    Designation : {{ produit.getNomProduit() }}
    <br/>

    Description : {{ produit.getDescription() }}
    <br/>

    Prix Unitaire : {{ produit.getPrix() }}
    <br/>

    {% if produit.getPhotoPrincipale() %}
    <img src="{{ produit.getPhotoPrincipale().getPath() }}" alt="{{ produit.photoPrincipale().getPath() }}" />
    {% endif %}
    <br/>
    <br/>
    {% for image in images %}
        <img src="{{ image.getPath() }}"
             alt="{{ image.getPath() }}"
                />
    {% endfor %}


        {% for cat in produit.getCategorys() %}
            {{ cat }}
        {% endfor %}
    <br/>
    #}


    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if product.getPhotoPrincipale() %}
                        <img src="/images/products/{{ product.photoPrincipale.imageName }}"
                             alt="/images/products/{{ product.photoPrincipale.alt }}"
                             class="img-fluid"
                        />
                    {% endif %}

                </div>
                <div class="col-md-6">
                    <h2 class="text-black">{{ product.getNom() }}</h2>
                    <p>{{ product.description() }}</p>
                    <p><strong class="text-primary h4">{{ product.getPrix() }}</strong></p>
                    <div class="mb-5">
                        <form method="POST" action="{{ path('product_addtocart',{'pid': product.getId()} ) }}">
                            {% if product.getQuantite() %}
                                <div class="input-group mb-3" style="max-width: 120px;">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                    </div>
                                    <input type="text" class="form-control text-center"
                                           name="quantite" value="1" placeholder=""
                                           aria-label="Example text with button addon"
                                           aria-describedby="button-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                    </div>
                                </div>
                                <p class="block-4-text p-4">
                                    <input type="submit"
                                           class="buy-now btn btn-sm btn-primary"
                                           value="Ajouter au panier">
                                </p>
                            {% else %}
                                <p>Article indisponible</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if images %}
                    {% for image in images %}
                        <div class="col-md-6">
                            <img src="{{ image.getPath() }}"
                                 alt="{{ image.getAlt() }}"
                                 class="img-responsive"
                            />
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>




{% endblock body %}