{% extends('layout.html.twig') %}

{% block body %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="{{ path('accueil') }}">Accueil</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Panier</strong></div>
        </div>
    </div>
</div>

<div class="site-section">

    {% if ps %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="product-thumbnail">Image</th>
            <th class="product-name">Product</th>
            <th class="product-price">Price</th>
            <th class="product-quantity">Quantity</th>
            <th class="product-total">Total</th>
            <th class="product-remove">Remove</th>
        </tr>
        </thead>
        <tbody>

        {% for p in ps %}
            <tr>
                <td class="product-thumbnail">
                    <img src="{{ p['p'].getPhotoPrincipale().getPath() }}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                    <h2 class="h5 text-black">{{ p['p'].nom }}</h2>
                </td>
                <td>{{ p['p'].getPrix() }}</td>
                <td>
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center"
                               name="{{ p['p'].id }}"
                               value="{{ p['qte'] }}" placeholder=""
                               aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>

                </td>
                <td>{{ p['prix'] }}</td>
                <td><a href="{{ path('product_delfromcart',{'pid': p['p'].id}) }}" class="btn btn-primary btn-sm">X</a></td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <td>
                Total
            </td>
            <td>

            </td>
        </tr>
        </tfoot>
    </table>
